@{
  Layout = "_Layout";
}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/winner" method="post">
        <div class="container" id="player1-box">
          <label for="player1">Player 1 Go!</label>
          <div class="radio">
            <label>
              <input type="radio" name="player1" value="rock" checked>
              Rock (insert rock image)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="player1" value="scissors">
              Scissors (img)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="player1" value="paper">
              Paper
            </label>
          </div>
          <div class="form-group">
            <button type="button" class="btn" id="player1-chooses">Select</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container" id="player2-box">
          <label for="player2">Player 2 Go!</label>
          <div class="radio">
            <label>
              <input type="radio" name="player2" value="rock" checked>
              Rock (insert rock image)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="player2" value="scissors">
              Scissors (img)
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="player2" value="paper">
              Paper
            </label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn">Play!</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
