@{
  Layout = "_Layout";
}
<div class="container index-box">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
      <form action="/players/one" method="post">
        <button type="submit" class="btn-lg btn-custom">One Player</button>
      </form>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
      <form action="/players/two" method="post">
        <button type="submit" class="btn-lg btn-custom">Two Players</button>
      </form>
    </div>
  </div>
</div>
